<nav>


</nav>

<div class="">

  <img src="assets/images/imageProjet1.jpg" alt="Image absente" id="imageProjet1">
</div>




<div class="entreprise">
  <br>
    <p class="texte1">Ce que nous <strong>faisons</strong></p>
  <br>

  <div class="mid">
    <div class="case">
      <img src="assets/images/SettingsB.png" class="logo" alt="">
      <h2>
        <p> <strong> Transformation Opérationnelle</strong> </p>
      </h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
      <div class="button">
        <button type="" name="" id="boutonOperation">Plus de détails</button>
      </div>
    </div>
    <div class="case">
      <img src="assets/images/maletteY.png"  class="logo" alt="">
      <h2>
        <p> <strong> Conseil</strong> </p>
      </h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
    </div>
    <div class="case">
      <img src="assets/images/FlashR.png"  class="logo" alt="">
      <h2>
        <p> <strong> Service</strong> </p>
      </h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
      <div class="button">
        <button type="" name="" id="boutonOperation">Faire un devis</button>
      </div>
    </div>
    <div class="case">
      <img src="assets/images/SettingsB.png"  class="logo" alt="">
      <h2>
        <p> <strong> Digital Factory</strong> </p>
      </h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
      <div class="button">
        <button type="" name="" id="boutonOperation">Site Digital Factory</button>
      </div>
    </div>
    <div class="case">
      <img src="assets/images/maletteY.png"  class="logo" alt="">
      <h2>
        <p> <strong> Audit Flash</strong> </p>
      </h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
      <div class="button">
        <button type="" name="" id="boutonOperation">Plus de détails</button>
      </div>
    </div>
    <div class="case">
      <img src="assets/images/FlashR.png"  class="logo" alt="">
      <h2>
        <p> <strong> Service</strong> </p>
      </h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
    </div>
  </div>

</div>
<br>

<div class="image">
  <img src="assets/images/imageProjet2.jpg" alt="Image absente" id="imageProjet2">
</div>
