#image1{
  background-size: cover;
  background-position: center;
  background-image: url('/assets/images/imageProjet1.jpg');
  background-repeat: no-repeat;
  height: 100vh;
}


#image2{
  background-size: cover;
  background-position: center;
  background-image: url('/assets/images/imageProjet2.jpg');
  background-repeat: no-repeat;
  height: 600px;
}

.texte1{
  text-align: center;
  font-size: 200%;
}

#boutonOperation{
  border:none;
	padding:6px 0 6px 0;
	border-radius:8px;
	background:#d34836;
	font:bold 13px Arial;
	color:#fff;
  font-family: 'Roboto Slab', serif;
}

.case{

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  float: left;
  width: 33.333%;
  // width: calc(30% - 60px);
  padding: 30px;
  text-align: center;
  margin-bottom: 2rem;
  border: 0;
}

.mid{
  margin-left: 10%;
  margin-right: 10%;
}

.logo{
  height: 50px;
}

.entreprise{
  margin-bottom: 38%;
  height: 100%;
}
.contact{
  margin-bottom: 13%;
  height: 100%;
}

.footerLogo{
  height: 30%;
  background-color: lightgrey;
  text-align: center;
}



// jaune : 255,156,0
