<nav>


</nav>

<div id="image1">
</div>




<div class="entreprise">
  <br>
    <p class="texte1">Ce que nous <strong>faisons</strong></p>
  <br>

  <div class="mid">
    <div class="case">
      <img src="assets/images/SettingsB.png" class="logo" alt="">
      <h2>
        <p> <strong> Transformation Opérationnelle</strong> </p>
      </h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
      <div class="button">
        <button type="" name="" id="boutonOperation">Plus de détails</button>
      </div>
    </div>
    <div class="case">
      <img src="assets/images/maletteY.png"  class="logo" alt="">
      <h2>
        <p> <strong> Conseil</strong> </p>
      </h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
    </div>
    <div class="case">
      <img src="assets/images/FlashR.png"  class="logo" alt="">
      <h2>
        <p> <strong> Service</strong> </p>
      </h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
      <div class="button">
        <button type="" name="" id="boutonOperation">Faire un devis</button>
      </div>
    </div>
    <div class="case">
      <img src="assets/images/SettingsB.png"  class="logo" alt="">
      <h2>
        <p> <strong> Digital Factory</strong> </p>
      </h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
      <div class="button">
        <button type="" name="" id="boutonOperation">Site Digital Factory</button>
      </div>
    </div>
    <div class="case">
      <img src="assets/images/maletteY.png"  class="logo" alt="">
      <h2>
        <p> <strong> Audit Flash</strong> </p>
      </h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
      <div class="button">
        <button type="" name="" id="boutonOperation">Plus de détails</button>
      </div>
    </div>
    <div class="case">
      <img src="assets/images/FlashR.png"  class="logo" alt="">
      <h2>
        <p> <strong> Service</strong> </p>
      </h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
    </div>
  </div>

</div>
<br>

<div id="image2">
</div>

<div class="contact">
  <br>
    <p class="texte1">Contactez-<strong>nous !</strong></p>
  <br>
  <div class="case">
    <h2>
      <p> <strong> Aix</strong> </p>
    </h2>
    <p>8 rue de la poupée qui tousse <br> 13000 Aix-en-Provence</p>
    <p> +33 7 22 30 43 70</p>
  </div>
  <div class="case">
    <h2>
      <p> <strong> Toulouse</strong> </p>
    </h2>
    <p>23 chemin du petit chicot <br> 31000 Toulouse</p>
    <p> +33 4 34 26 33 70</p>
  </div>
  <div class="case">
    <h2>
      <p> <strong> Rennes</strong> </p>
    </h2>
    <p>2 rue du professeur Pierre Velas <br> 35200 Rennes</p>
    <p> +33 2 12 30 43 70</p>
  </div>
</div>


<footer>
<div class="footerLogo">
  <br>
  <br>
  <img src="assets/images/FlashR.png"  class="logo" alt="">
  <img src="assets/images/FlashR.png"  class="logo" alt="">
  <img src="assets/images/FlashR.png"  class="logo" alt="">
  <img src="assets/images/FlashR.png"  class="logo" alt="">
  <br>
  <p>Teletech'3000 © 2017</p>
</div>
</footer>
